version: "3.9"

services:
  backend:
    build: ./backend
    env_file:
      - .env
    networks:
      - app-net

  frontend:
    build: ./frontend
    env_file:
      - .env
    networks:
      - app-net

  nginx:
    build: ./nginx
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
